@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Cairo&family=Open+Sans+Condensed:wght@300&family=Prompt:wght@200&family=Ubuntu+Condensed&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
.inner-box {
  text-align: center;
  background: #f2f2f2;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  transition: all 100ms ease-in-out;
  position: relative;
  top: 0;
  justify-content: center;
  flex-shrink: 0;
}

.inner-box:hover {
  top: -0.5em;
}

.inner-box ul {
  list-style-type: none;
}

.image-box {
  background-color: #f2f2f2;
  width: 100%;
  height: 50%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.button-box {
  margin: 10px 0 0 220px;
  position: absolute;
}
.button-itself {
  border: none;
  background-color: transparent;
  color: #636363;
  width: 20px;
  height: 20px;
}

.info-box {
  display: flex;
  justify-content: space-around;
  margin: 0 0;
  padding: 0 auto;
  align-items: center;
  height: 70%;
  background-color: #f2f2f2;
}

.extra-box {
  background-color: #636363;
  height: 30%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  /* font-family: "Ubuntu Condensed", sans-serif; */
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
}
.extra-box p {
  color: white;
  padding-top: 5px;
}

.date-box {
  display: inline-block;
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "Noto Sans TC", sans-serif;
  background: #f2f2f2;
  border-radius: 8px;
  border: 1px solid #636363;
  padding: 10px 20px 10px 20px;
}

.date-box p {
  margin: 0 0;
  align-items: center;
}

.date-box .current-day {
  color: red;
  font-style: bold;
}

.celcius-box {
  left: 0;
  display: inline-block;
}

.celcius-box h1 {
  /* font-family: "Barlow", sans-serif; */
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "Noto Sans TC", sans-serif;
  margin: 0 0 0 10px;
}

.degree {
  /* font-family: "Barlow", sans-serif; */
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "Noto Sans TC", sans-serif;
}

.name-box {
  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.02em;
  display: inline-block;
  align-items: center;
}

.name-box p {
  margin: 0 0;
}
