.inner-box {
  text-align: center;
  background: aqua;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box ul {
  list-style-type: none;
}
