@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Cairo&family=Open+Sans+Condensed:wght@300&family=Prompt:wght@200&family=Ubuntu+Condensed&display=swap");

.inner-box {
  text-align: center;
  background: #f2f2f2;
  width: 250px;
  height: 250px;
  /* border: 2px solid #6b6b6b; */
  border-radius: 8px;
  /* box-shadow: 7px 7px #6b6b6b, -7px -7px 10px #6b6b6b; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  position: relative;
  top: 0;
  /* align-items: center; */
  /* justify-content: center; */
}

.inner-box:hover {
  top: -0.5em;
}

/* 
.inner-box:not(.image-box) {
  justify-content: center;
}
*/
.inner-box ul {
  list-style-type: none;
}

.image-box {
  background-color: #f2f2f2;
  width: 100%;
  height: 50%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.info-box {
  display: flex;
  justify-content: space-around;
  margin: 0 0;
  padding: 0 auto;
  padding-bottom: 12px;
  align-items: center;
  height: 70%;
  background-color: #f2f2f2;
}

.extra-box {
  background-color: #636363;
  height: 30%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.extra-box p {
  color: white;
  padding-top: 5px;
  /* margin: 20px; */
}
.date-box {
  background: #f2f2f2;
  border-radius: 8px;
  border: 1px solid #636363;
  padding: 15px;
}

.celcius-box {
  left: 0;
}

.celcius-box h1 {
  /* font-family: "Barlow", sans-serif; */
  font-family: "Open Sans Condensed", sans-serif;
}

.degree {
  /* font-family: "Barlow", sans-serif; */
  font-family: "Open Sans Condensed", sans-serif;
}

.name-box {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.05em;
}

.date-box {
  font-family: "Open Sans Condensed", sans-serif;
}

.extra-box {
  font-family: "Ubuntu Condensed", sans-serif;
}
